.row {
    max-width: $grid-width;
    margin: 0 auto;

    @include respond(tab-port) {
        max-width: calc(0.5 * $grid-width);
        padding: 0 3rem;
    }

    &:not(:last-child) {
        margin-bottom: $grid-gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: calc(0.9 * $grid-gutter-vertical);
        }
    }

    @include clearfix;

    [class^='col'] {
        &:not(:last-child) {
            margin-right: $gid-gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: calc(0.9 * $grid-gutter-vertical);
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        float: left;
        width: calc((100% - #{$gid-gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        float: left;
        width: calc((100% - 2 * #{$gid-gutter-horizontal}) / 3);
    }

    .col-1-of-4 {
        float: left;
        width: calc(((100% - 3 * #{$gid-gutter-horizontal}) / 4));
    }

    .col-2-of-3 {
        float: left;
        width: calc(2 * ((100% - 2 * #{$gid-gutter-horizontal}) / 3) + #{$gid-gutter-horizontal});
    }

    .col-2-of-4 {
        float: left;
        width: calc(2 * (((100% - 3 * #{$gid-gutter-horizontal}) / 4)) + #{$gid-gutter-horizontal});
    }

    .col-3-of-4 {
        float: left;
        width: calc(3 * (((100% - 3 * #{$gid-gutter-horizontal}) / 4)) + 2 * #{$gid-gutter-horizontal});
    }
}
